<div class="component photogrid clearfix">
			<h2>Photo Gallery</h2>
			<a href=""><img src="img/gallery/kerala_munnar_01_thumb.jpg" alt=""></a>
			<a href=""><img src="img/gallery/kerala_munnar_02_thumb.jpg" alt=""></a>
			<a href=""><img src="img/gallery/kerala_munnar_03_thumb.jpg" alt=""></a>
			<a href=""><img src="img/gallery/kerala_perriya_01_thumb.jpg" alt=""></a>
			<a href=""><img src="img/gallery/kerala_perriya_02_thumb.jpg" alt=""></a>
			<a href=""><img src="img/gallery/kerala_perriya_03_thumb.jpg" alt=""></a>
		</div>		